@charset "utf-8";

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: bottom;
}


body{height: 1800px;
overflow-x: hidden;
}


/* --------------------------------------------- */
/* hover 전 */

h1{
    position: fixed;
    opacity: 0;
}

#bodyWrap {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;

}

#bodyWrap p {
    position: fixed;
    right: 30px;
    bottom: 5px;
    transform: translate(6.6vw, 0.3vh) scale(0.4);
    display: inline-block;
}

/*  지금 */

#work_content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

#work_content .work_con {
    position: relative;
    width: 2100px;
    overflow: hidden;
    min-height: 23vw;
    top: 50%;
    left: 0;
    transform: translateY(-30%);
}

#work_content .work_con li {
    width: 400px;
    height: 400px;
    float: left;
    padding-top: 20px;
    transition: all 0.5s;
    margin-left: 120px;
    background: #fff;
}

#work_content .work_con li:nth-of-type(1) {
    margin-left: 35vw;
}

#work_content .work_con li a {
    position: relative;
    overflow: hidden;
    display: block;
}

#work_content .work_con li a:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#work_content .work_con li a img {
    width: 100%;
    height: auto;
}

#work_content .work_con li a .con_hover {
    opacity: 0;
    position: absolute;
    width: 355px;
    height: 200px;
    top: 22px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    text-align: center;
}

#work_content .work_con li a:hover .con_hover {
    opacity: 1;
    transition: all 0.8s;
}

#work_content .work_con li a .con_hover .con_txt {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

#work_content .work_con li a .con_hover h2 {
    font-weight: bold;
    font-size: 27px;
}

#work_content .work_con li a .con_hover h3 {
    font-weight: 400;
    font-size: 15px;
    margin: 25px 0;
}

/* -------------------- */
.work_menu {
    position: fixed;
    display: flex;
    left: 30%;
    top: 15%;
}

.work_menu li {
    position: relative;
    float: left;
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.15vw;
    line-height: 33px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #666;
    padding-top: 5px;

}

.work_menu li:nth-child(1) {}

/* ------------------------- */
button {
    position: fixed;
    background: transparent;
    outline: none;
    border: none;
    z-index: 99;
}

.menuBtn a {
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #FFFFFF;
    -webkit-text-stroke-color: #111;
}

#intro {
    width: 220px;
    height: 100px;
    position: fixed;
    left: 0px;
    top: 0px;
}

#intro a {
    position: absolute;
    left: 1.250em;
    top: 0.813em;
    transition: all 1s;
    display: block;
}

#work {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 220px;
    height: 100px;
    color: #111;
    
}

#work a {
    position: absolute;
    right: 20px;
    top: 28px;
    transition: all 1s;
    display: block;
    writing-mode: vertical-rl;
}

#about {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 220px;
    height: 100px;
}

#about a {
    position: absolute;
    right: 1.15em;
    bottom: 0.813em;
    transition: all 1s;
}

#what {
    width: 200px;
    height: 220px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#what a {
    position: absolute;
    left: -32px;
    bottom: 85px;
    transition: all 1s;
    display: block;
    transform: rotate(-90deg);
}

/* hover 후 */

#bodyWrap.hover_work {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

#bodyWrap.hover_work p {
    position: fixed;
    right: -3px;
    bottom: 0px;
    transform: translate(6.6vw, 0.3vh) scale(0.4);
    display: inline-block;
}

#work_back.hover_work {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 98vw;
    height: 95vh;
    display: flex;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: 5px solid #111;
    box-sizing: border-box;
    pointer-events: none;
    background-color: #fff;

}

#work_back.hover_work #workBox01 {
    position: relative;
    width: 4vw;
    height: 100%;
    border-right: 2px solid #111;
    background-color: #fff;
}

#work_back.hover_work #circle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#work_back.hover_work #circle span {
    background-color: #111;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    display: block;
}

#work_back.hover_work #workBox02 {
    width: 96vw;
    height: 100%;
    background-color: #fff;
}

#intro.btnHover a {
    left: 90px;
    top: 35px;
}

#work.btnHover a {
    right: 30px;
    top: 45px;
}

#about.btnHover a {
    bottom: 30px;
    right: 45px;
}

#what.btnHover a {
    bottom: 93px;
    left: 30px;
}

/* -------------------------------------- */