@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* 전체설정 */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: none;
  vertical-align: bottom;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* 기본설정 */

header {
  width: 100%;
  height: 120px;
  left: 0;
  top: 0;
  background-color: #666;
  z-index: 9999;
}

.mainslide {
  width: 100%;
  height: 800px;
  background-color: #777;
}

.activity {
  width: 100%;
  height: 900px;
  background-color: #555;
}

.theme {
  width: 100%;
  height: 900px;
  background-color: #333;
}

.views {
  width: 100%;
  height: 900px;
  background-color: #222;
}

.news {
  width: 100%;
  height: 900px;
  background-color: #aaa;
}

.food {
  width: 100%;
  height: 900px;
  background-color: #bbb;
}

.map {
  width: 100%;
  height: 900px;
  background-color: #ccc;
}

footer {
  width: 100%;
  height: 150px;
  background-color: greenyellow;
}

.wrap {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

/* ################################################################################### */


/* header 설정 */
header {
  background-color: pink;
  height: 100px;
  font-size: 15px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 9999;
}

header .warp {}


/* 로고 설정 */
.wrap .logo {
  width: 12%;
  height: 100%;
  background-color: black;
    vertical-align: middle;
    display: flex;
    justify-content: center;


}

.wrap  img {
  width: 148px;
  height: 109px;
  margin-top: -2px;
  
}

nav {width: 90%;}








/* util 상세 설정 */
nav .util {
  display: flex;
  justify-content: flex-end;
  background-color: red;
  height: 30%;
  align-items: center;
}


/* 메뉴 설정 */
nav .gnb {
  display: flex;
  justify-content: flex-end;
  background-color: #222;
  height: 70%;
  font-size: 16px;
  align-items: center;
  font-weight: bold;
  
}
nav .gnb>li {}
nav .gnb>li>a {display: block;
  padding: 25px;
color: #FFF;}

/* 서브 메뉴 */








  

/* -------------------------------------------------------- */
header .wrap {
  display: flex;
  justify-content: space-between;
}

/* 로고 설정 */


/* 유틸리티 설정 */


nav .util ul { display: flex;
  justify-content: flex-end;}

nav .util div {}

nav .util li {}

nav .util a {display: block;
  padding: 10px;
  color: #fff;}

nav .util img {width: 22px;
  height: 22px;
}
nav .util p {font-size: 16px;}

nav .search {
position: relative;
} 
nav .search a {

  padding: 2px;
  border: solid #fff 1px;
  border-radius: 4px;
  left: 80px;
  bottom: 18px;

}
nav .search input {display: none;}
nav .search a {position: absolute;}
nav .search img {}

/* 서치를 클릭했을때 값  */
header .search.on {width: 160px;}
header .search input {display: inline-block;
opacity: 0;
background-color: #fff;
width: 120px;
margin-top: 16px;
padding: 8px 10px;
border: none;
font-size: 12px;}








/* mainslide 설정 */
.mainslide {
}
.mainslide .txtBox {
  display: flex;
  align-items: center;
  background-color: seagreen;
}
.mainslide .weather {
  width: 100px;
  height: 30px;
  background-color: red;
}
.mainslide .titleBox {
  width: 40%;
  height: 500px;
  background-color: skyblue;
  margin-left: 50px;
}
.mainslide .title01 {
  width: 400px;
  height: 100px;
  background-color: blue;
}
.mainslide .btn {
  width: 200px;
  height: 70px;
  background-color: orange;
}
.mainslide .imgMove {
  width: 100%;
  height: 800px;
  background-color: greenyellow;
}

.mainslide .slide {
  width: 200px;
  height: 240px;
  background-color: purple;
}

.mainslide .iconBox {
  width: 100%;
  height: 130px;
  background-color: bisque;
}

/* map 설정*/
/* 구글 지도 설정 */

.map {
  position: relative;
}
.map .wrap {
  display: flex;
}
.mapBox {
}
.map iframe {
  width: 100%;
  height: 680px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.map .mapTxt {
  /* 
    x를 눌렀을때 만들것
    opacity: 1;
    transform: translateY(0px); */
  display: block;
  width: 600px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 10px 20px 1px rgb(0 0 0 / 30%);
  color: #000f42;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  top: 300px;
  right: 250px;
  /* opacity: 0;
    transform: translateY(100px);
    transition: all 1.2s ease; */
}

.mapTxt ul {
}
.mapTxt li {
  margin-bottom: 25px;
  margin-left: 20px;
}
.mapTxt li .box1 {
  width: 5px;
  height: 20px;
  background-color: #000f42;
  margin-right: 10px;
}

.mapTxt li:nth-child(1) {
  margin-bottom: 30px;
  display: flex;
  margin-left: 5px;
}
.mapTxt li:nth-child(1) strong {
  font-size: 18px;
  margin-top: -2.5px;
}

.mapTxt li strong {
  font-size: 16px;
}

.mapTxt ul li p {
  font-size: 14px;
  margin-bottom: 12px;
}
.mapTxt ul li em {
  font-style: normal;
  font-weight: bold;
}

/* footer */
.footer {
  width: 100%;
  height: 200px;
  background-color: #222;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ####################미디어 쿼리 구간################### */

/* 1450px 이상일때 */
@media (min-width: 1450px) {
  .wrap {
    width: 1440px;
    margin: 0 auto;
  }
}
